<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to HikerBook, <%= @user.username %></h1>
    <p>
      You have successfully signed up to HikerBook.<br>
    </p>
    <p>
      To login to the site and start sharing your experiences outdoors, just follow this link: <%= @url %>.
    </p>
    <p>Happy trails!</p>
  </body>
</html>