<div class="media px-3">
  <div class="media-left">
    <figure class='image is-48x48'>
      <img class='is-rounded'src='https://picsum.photos/48/48'>
    </figure>
  </div>

  <div class="media-content">
    <strong><%= comment.user.username %></strong>
    <div><%= comment.body %></div>
  </div>
</div>