<div class="title">Edit Comment</div>

<%= turbo_frame_tag "#{dom_id(@post)}_#{dom_id(@comment)}" do %>
  <%= render partial: 'comments/form', locals: { comment: @comment }%>
<% end %>

<%= render partial: @post, locals: { user: current_user, comments: @comments } %>