<div class="media is-flex is-flex-direction-column is-align-items-center">
  <figure class='image'>
    <% if park.image.attached? %>
      <%= image_tag park.image, id: 'park-image' %>
    <% end %>
  </figure>

  <div>
    <strong><%= link_to park.name, park.url, class: 'has-text-black' %></strong>
  </div>
</div>