<!-- For use in friends column of home page. This is a copy of the user partial
without any actions (to save space/readability). -->

<div class="media is-flex is-align-items-center">
  
  <div class="media-left">
    <figure class='image is-48x48'>
      <img class='is-rounded'src='https://picsum.photos/48/48'>
    </figure>
  </div>

  <div class="media-content">
    <strong><%= user.username %></strong>
  </div>
</div>