<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<% if @friend_request %>
  <% @friend_request.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% elsif @friendship %>
  <% @friendship.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>



<section class="section">
  <div class="columns is-centered">
    <div class="column is-half">
      <%= render @users %>
    </div>
  </div>
</section>

