<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<% if @friend_request %>
  <% @friend_request.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% elsif @friendship %>
  <% @friendship.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<%= render @users %>
