<%= turbo_frame_tag 'middle-column' do%>  
  <div class="level">
    <div class="level-left">
      <%= link_to "\u2190 Back to posts", posts_path %>
    </div>
  </div>
  
  <%= render @user %>

  <h1 class="title">Posts</h1>
  <div>
    <%= render partial: @user.posts, locals: { user: current_user } %>
  </div>
<% end %>
