<%= turbo_frame_tag 'middle-column' do %>  
  <div class="level">
    <div class="level-left">
      <%= link_to "\u2190 Back to posts", posts_path, data: { turbo_frame: '_top' } %>
    </div>
  </div>
  
  <div class="mb-3">
    <%= render @user %>
  </div>

  <h1 class="title">Posts</h1>
  <div>
    <%= render partial: @user.posts, locals: { user: current_user } %>
  </div>
<% end %>
