<section class="section">
  <div class="columns">
    <div class="column">Today's Parks</div>
    <div class="column is-half">
      <div class="level">
        <div class="level-left">What have you been up to lately?</div>
        <div class="level-right">
          <%= link_to "New post", new_post_path, class: "button", data: { turbo_frame: dom_id(Post.new) } %>
        </div>
      </div>
      <%= turbo_frame_tag dom_id(Post.new) %>  
      <%= turbo_frame_tag 'posts' do %>
        <div><%= render @posts %></div>
      <% end %>
    </div>
    <div class="column">Friends</div>
  </div>
</section>
