// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$dark-olive-green: #606c38ff;
$cornsilk: #fefae0ff;
$earth-yellow: #dda15eff;
$liver-dogs: #bc6c25ff;
$smoky-black: #0f0e0eff;
$lava: #c42021ff;
$star-command-blue: #197bbdff;

// Update Bulma's global variables
$primary: $earth-yellow;
$success: $star-command-blue;
$danger: $lava;

// Update some of Bulma's component variables
$body-background-color: $cornsilk;
$navbar-background-color: $smoky-black;
$card-radius: 0.5rem;
$button-background-color: $earth-yellow;
$button-border-color: $smoky-black;

// Import only what you need from Bulma
// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/button.sass";
// @import "bulma/sass/elements/container.sass";
// @import "bulma/sass/elements/title.sass";
// @import "bulma/sass/form/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/layout/hero.sass";
// @import "bulma/sass/layout/section.sass";

@import 'bulma/bulma';

.remove-btn-style {
  background: none;
  border: none;
  font-size: 16px;
  color: rgb(72, 95, 199);
  padding: 0;
  cursor:pointer;
}

#requests-text {
  color: white;
}

#left-column {
  display: none;
}

@media screen and (min-width: 1024px) {
  #navbar-end {
    align-items: center;    
  }
  #requests-text {
    color: black;
  }
  #account-menu {
    order: 2;
    margin-right: 1rem;
  }

  #left-column {
    display: block;
  }
}

.hidden {
  display: none;
}

.navbar-item img {
  max-height: none;
}

#park-image {
  border-radius: 30px;
  border: solid;
}
