<% flash.each do |type, msg| %>
  <% if type == 'success' %>
    <div class="level has-background-success has-text-white-bis p-2 pl-4">
      <%= msg %>
    </div>
  <% elsif type == :error %>
    <div class="level has-background-danger has-text-white-bis p-2 pl-4">
      <%= msg %>
    </div>
  <% end %>
<% end %>