<%= turbo_frame_tag "friend_request_notifications" do %>  
  <div class="navbar-item has-dropdown is-hoverable">
    <a class='navbar-link is-arrowless has-text-white is-hidden-mobile is-hidden-tablet-only'> 
      <% if friend_request_count.zero? %>
        <i class="fa-regular fa-bell"></i>
      <% else %>
        <i class="fa-solid fa-bell"></i>
      <% end %>
    </a>
    <div class="navbar-dropdown is-right p-0">
      <% if friend_request_count.zero? %>
        <div class='navbar-item'>You don't have any friend requests yet. Check back later!</div>
      <% else %>
        <div class="navbar-item" id="requests-text">
          You have <%= friend_request_count %> pending friend requests.
        </div>
        <div class="navbar-item">
          <%= link_to 'View Friend Requests', friend_requests_path, data: { turbo_frame: 'middle-column' } %> 
        </div>
      <% end %>  
    </div>
  </div>
<% end %>