<div class="navbar">
  <div class="navbar-menu is-active">
    <div class="navbar-start">
      <div class="navbar-item">
        <%= link_to "Home", posts_path, class: 'button is-white' %>
      </div>
    </div>
    <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item">
          <%= button_to "Logout", destroy_user_session_path, class: "button is-white", method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
</div>
